.nav {
  background-color: #4d648d;
}
.nav-title {
  color: #1e1f26;
  font-weight: 500;
  font-size: x-large !important;
}
.web-body {
  background-color: #d0e1f9;
  background: #d0e1f9;
  padding: 15px 50px;
}

h2 {
  text-align: center;
  color: #213962;
}

h3,
h5,
h4 {
  color: #213962;
}

#repo,
#account,
#publicrepo {
  margin-top: 25px;
}

ol > li::marker {
  font-weight: bold;
}
ul > li::marker {
  font-weight: bolder;
}

ol > li > a,
ul > li > a {
  text-decoration: none;
}

ol > li > a:hover,
ul > li > a:hover {
  color: white;
}

.git-intro {
  width: 60%;
}

.git-toc {
  border: 2px solid #4d648d;
  width: fit-content;
  padding: 10px 20px;
  padding-bottom: 0px;
  background-color: #dbe6f7ce;
  margin-bottom: 15px;
}

.reposi {
  padding: 20px 0px;
}
